/bochsout.txt
/disk.img
!disk.img.patch
/disk_template.img
/bx_enh_dbg.ini
/kernel.sym
/libgluegen-rt.so
/libjogl_awt.so
/libjogl_cg.so
/libjogl.so
/peter-bochs-debugger.jar
/peter-bochs.log
/peter-bochs.xml
/gdebug.sh
/gkd-conf.xml
/GKD.jar
/gkd.log
/gkd.xml
/jmpDB.mv.db
/intel-manual/
/qemu
